#container {
  width: 100%;
}

#header {
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #7D8A2E;
  background-size: 900px 100px;
  border-bottom: 0px solid #000000;
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    &:visited {
      color: #ccc;
      text-decoration: underline;
      font-weight: bold;
    }
    &:hover {
      color: #C9D787;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
  p {
    color: #ffffff;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.HorizLinks {
  position: relative; 
  top: 120px; 
  text-align: center;
  ul {
    margin: 0px; 
  }
  li {
    margin: 0px 15px 0px 0px;
    list-style-type: none;
    display: inline;
  }
}

#horizontalnav {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #C9D787;
  border-bottom: 0px solid #000000;
}

.navlinks {
  position: relative; 
  top: 4px; 
  text-align: center;
  ul {
    margin: auto;
  }
  li {
    margin: 0px 18px 0px 0px;
    list-style-type: none;
    display: inline;
    a {
      color: #2A2C2B;
      padding: 5px 12px 7px;
      text-decoration: none;
      font-size: 16px;
      font-family: Verdana;
      &:hover {
        color: #ffffff;
        background-color: #7D8A2E;
         /*If you want to use a color for the background instead replace above line with background-color: [insert color here with # sign in front];*/
        text-decoration: none;
      }
    }
  }
}

#leftnav {
  float: left;
  width: 150px;
  height: 535px;
  background-color: #FFC0A9;
  border-right: 0px dashed #694717;
  color: #fff;
  font-family: Verdana;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    width: 150px;
  }
}
    
#rightnav {
  float: right;
  width: 150px;
  height: 535px;
  background-color: #FFC0A9;
  border-left: 0px dashed #694717;
  color: #fff;
  font-family: Verdana;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    width: 150px;
  }
}

#body {
  margin: 0 auto;
  width: 600px;
  padding: 10px 0px 0px 10px;
}

#footer {
  clear: both;
  background-color: #FF8598;
  text-align: center;
  height: 50px;
  font-family: Verdana;
  padding-top: 20px;
  color: #fff;
}

.box {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  background-color: #dddddd;
  border: 2px solid #d22929;
  width: 350px;
  color: #000000;
}

h2 {
  font-size: 20px;
  color: #cc0000;
  padding: 10px;
  font-family: Verdana;
}